.home {
    padding: 20px;
    text-align: center;
}

.card-width{
    display: inline-block;
    margin: 5px;
}
.check-btn {
    margin-left: 10px;
}
.align-center {
    text-align: center;
}
.align-block {
    display: inline-block;
}